@import "tailwindcss";

@keyframes zoomSlow {
  0% { transform: scale(1); }
  100% { transform: scale(1.05); } /* keep small */
}


.animate-zoomSlow {
  animation: zoomSlow 10s ease-in-out infinite;
}

* {
  box-sizing: border-box;
}
html, body {
  overflow-x: hidden !important;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-12px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.animate-slideDown {
  animation: slideDown 0.25s ease-out;
}

